@import "../variables.scss";

.footer-topbar {
  margin: 16px 0 8px 0;
}
  .topbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px 0 16px 0;
    @media screen and (max-width: $bkpt-sm) {
      flex-direction: column;
      padding: 16px 0 8px 0;
      align-items: unset;
    }



    .topbar-right {
      margin-right: 24px;
      @media screen and (max-width: $bkpt-sm) {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }

  .topbar-content :nth-child(2) {
    @media screen and (max-width: $bkpt-sm) {
      order: 3;
    }
  }
.home-footer{
  border-top: 2px solid $list-bg-color;
  .home-footer-content{
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
    padding: 8px 0;
  }
  .albums{
    font-size: 17px;
    letter-spacing: 2px;
    padding-top: 3px;
    font-weight: 600;
    @media screen and (max-width: $bkpt-lg) {
      font-size: 16px;
    }
  }
}