---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Sahil K</title>
    <meta name="viewport" content="initial-scale=1, initial-scale=1.0&quot; viewport-fit=cover">
    <meta name="theme-color" content="#FFFFFF">
    <!--For social sharing-->
    <meta property="og:title" content="Sahil K | Product Designer">
    <meta property="og:description"
          content="Indo-Canadian Computer Science major currently leading a team of designers">
    <meta property="og:image" content="Work_files/Social_Banner.jpg">
    <meta property="og:url" content="https://www.thesahilk.com">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage"
          content="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-144.png.png">
    <!--Favicon-->
    <link rel="alternate" type="application/rss+xml" title="Sahil K | blog" href="https://www.thesahilk.com/rss">
    <link rel="shortcut icon" type="image/png" href="https://www.thesahilk.com/public/Favicon.png">
    <link rel="mask-icon" href="https://www.thesahilk.com/public/Favicon.svg" color="#0E83F3">
    <!--link(rel="icon" type="image/png" sizes="16x16" href="/public/apple-touch-icon.png")-->
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-32.png.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-96.png.png">
    <link rel="apple-touch-icon" sizes="57x57"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-57.png.png">
    <!--link(rel="apple-touch-icon" sizes="114x114" href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-57.png.png")-->
    <link rel="apple-touch-icon" sizes="72x72"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-72.png.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-144.png.png">
    <!--link(rel="apple-touch-icon" sizes="60x60" href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-57.png.png")-->
    <link rel="apple-touch-icon" sizes="120x120"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-120.png.png">
    <!--link(rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-57.png.png")-->
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-152.png.png">
    <!--Styling-->
    <link href="website/css.css" rel="stylesheet">
    <link rel="stylesheet" href="website/bootstrap.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="website/style_v2.css">
    <script type="text/javascript" async=""></script>
    <script src="website/jquery-3.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <style>@media print {
        #ghostery-purple-box {
            display: none !important
        }
    }</style>
    <script src="website/popper.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="website/bootstrap.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white">
    <div class="container">
        <a class="navbar-brand active" href="{{site.env.PHOTO_ROOT}}/">
            <div class="emoji">
                <img class="image-on" src="website/emoji12.png">
                <img class="image-off" src="website/emoji13.png">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent !important; border:none !important; padding: 0 8px 10px 8px;">
            <span class="navbar-toggler-icon" style="background-image: url('./images/ham-menu.svg') !important; background-size: 54px !important;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- THIS IS THE NAVIGATION SYSTEM ON THE LEFT, NEXT TO BRAND-IMAGE-->
            </ul>
            <div class="my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <!-- THIS IS THE NAVIGATION SYSTEM ON THE RIGHT, NEXT TO BRAND-IMAGE-->
                    <li class="nav-item">
                        <a class="nav-link active" href="{{site.env.PHOTO_ROOT}}/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.env.PHOTO_ROOT}}/work">Work</a>
                    </li>
                    <!--li.nav-item//a(href='/blog', class= (navbar == 'blog' ? 'nav-link active' : 'nav-link' )) Blog-->
                    <li class="nav-item">
                        <!----<a class="nav-link" href="{{site.env.PHOTO_ROOT}}/photography">Photography</a>-->
                        <a class="nav-link" href="https://instagram.com/thesahilk">Photography</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid" id="website-container">
    <div class="row" id="about-container">
        <!-- .about-photo-->
        <div class="about-description">
            <div>
               <h1>My name is Sahil, I am a Product Design Consultant</h1>
                <p class="subtitle">
                    I’m an Indo-Canadian Computer Science major currently 
                    helping startups achieve their business goals through great design.
                </p>
                   <!-- a.currentcompany(href='http://thegeekslab.com') The Geeks Lab    | -->
                <p></p>
                As a Product Designer, I love working &amp; collaborating with
                agencies &amp; clients to develop digital concepts and solve
                problems together. In my free time I love to learn &amp; explore
                other creative avenues like writing,
                <!--|--><!--a.link(href='/blog') writing --><!--|, -->
                <!--a.link(href='http://instagram.com/thesahilk')  photography -->photography,
                &amp; occasionally coding 😅
                <p></p>
                In my 10 years of experience I have been lucky to work with companies
                like
                <a style="color:#DD0000; font-weight:600;;">Magicbricks</a>,
                <a  class="toi" style="font-weight:600;">The Times of India</a>,
                <a style="color:#FF0000; font-weight:600;;">Adobe</a>,
                <a  class="cars24" style=" font-weight:600;">Cars</a>
                <a style="color:#FF5900; font-weight:600;">24 </a>&amp;
                <a class="link" href="https://www.thesahilk.com/work">many more </a>
                <to>to always design inclusive, effective, &amp; impactful digital
                    products.
                </to>
                <br><br>
                If you want to work together or just say hi, feel free to contact
                me<br>
                <p class="social">
                    <a class="twitter" href="https://twitter.com/thesahilk">Twitter</a>
                    • <a class="email" href="mailto:thesahilk@gmail.com">Email</a> •
                    <a class="dribbble" href="https://dribbble.com/thesahilk">Dribbble</a>
                </p>
                <br>
            </div>
        </div>
    </div>
</div>


</body>
</html>
