<ul class="photo-grid left-grid">
    <li>
        <a href="categories/{{category.title}}">
    <li class="photo-content">
        <div class="image-container">
            <img src="{{site.env.PHOTO_ROOT}}{{category.cover}}">
        </div>
        <div class="photo-title">
            <p class="place">{{category.title}}</p>
        </div>
    </li>
    </a>
    <li class="list-heading"><p>3 Photoset</p>
        <div class="divider"></div>
    </li>
    {% for story in stories %}
    <a href="{{site.env.PHOTO_ROOT}}{{story.url}}">
        <li class="list list-item">
            <div class="travel-img">
                <img src="{{site.env.PHOTO_ROOT}}{{story.cover}}" alt="travel">
            </div>
            <div class="travel-titles">
                <p class="title">
                    {{story.title}}
                </p>
                <p class="sub-title">
                    {{story.subtitle}}
                </p>
            </div>
        </li>
    </a>
    {% endfor %}
</ul>