<div class="headerContainer">
    <div class="headerContent">
        <div class="navigation">
            <div class="leftNavigation">
                <a href="{{site.env.PHOTO_ROOT}}/photography">
                    <div class="backIconContainer">
                        <i class="fas fa-arrow-left backIcon"></i>
                    </div>
                </a>
<!--                <a href="{{site.env.PHOTO_ROOT}}/photography" class="stacked-text">-->
<!--                    <p class="header-title">-->
<!--                        Sahil K-->
<!--                    </p>-->
<!--                </a>-->
            </div>
            <div class="rightNavigation">
                <ul>
                    <li class="header-icon">
                        <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" >
                            <svg height="20" width="20" class="twitter-svg">
                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Footer-2" transform="translate(-1145.000000, -40.000000)">
                                        <g id="Footer">
                                            <g id="Twitter" transform="translate(1139.000000, 32.000000)">
                                                <rect id="Rectangle" x="0" y="0" width="32" height="32"></rect>
                                                <path class="active"
                                                      d="M26,9.89399011 C25.2647626,10.2157166 24.4734994,10.4327322 23.6432617,10.5298496 C24.4909567,10.0302743 25.1409374,9.2389469 25.4474555,8.29494929 C24.6545683,8.75815557 23.7768305,9.09426987 22.8418489,9.27571564 C22.09362,8.49078283 21.0270994,8 19.8469034,8 C17.5811055,8 15.744027,9.80846281 15.744027,12.0393665 C15.744027,12.3554978 15.7801596,12.6636359 15.8503948,12.9597842 C12.4401275,12.7911275 9.4163571,11.1832942 7.39252583,8.73937153 C7.03931957,9.33566469 6.83713944,10.0294749 6.83713944,10.7704451 C6.83713944,12.1716541 7.56141526,13.408203 8.66244443,14.1323875 C7.99013458,14.1112055 7.3572052,13.92936 6.80384873,13.6268172 C6.80344275,13.6436029 6.80344275,13.6607883 6.80344275,13.6779737 C6.80344275,15.6347105 8.21789172,17.2669231 10.0951627,17.6386072 C9.75088809,17.7305291 9.38834419,17.7800869 9.01402675,17.7800869 C8.74932505,17.7800869 8.49233705,17.7549083 8.24184479,17.7073488 C8.76434647,19.3119848 10.2794795,20.4801918 12.0747417,20.5125643 C10.6704423,21.5960434 8.90156913,22.2418944 6.97882792,22.2418944 C6.64795079,22.2418944 6.32113351,22.2227107 6,22.1851426 C7.81637334,23.331768 9.97296145,24 12.2899133,24 C19.8375657,24 23.9643952,17.8452316 23.9643952,12.5073687 C23.9643952,12.3323175 23.9607413,12.157666 23.9530276,11.9842134 C24.7544405,11.4158965 25.4502974,10.7041015 26,9.89399011 Z"
                                                      id="Path" fill="#8C8D9C"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="header-icon">
                        <i class="fa fa-ellipsis-v menu active" id="menuBtn" aria-hidden="true"></i>
                        <ul class="overflow-drop">
                            {% for navigation in site.data.navigation["navigation"] %}
                            <li><a href={{ navigation.link }} target={{ navigation.linkTab }}><p class="text">{{ navigation.title }}</p></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    const menu = document.getElementById("menuBtn");
    const dropList = document.getElementsByClassName("overflow-drop")[0];

    menu.onclick = function (){
        dropList.classList.toggle("drop-open");
    }
</script>
</body>
</html>