<div class="footer-topbar">
    <div class="topbar-content">
        <div class="rightNavigation topbar-right">
            <ul class="footer-social-links">
                <li class="icon footer-topbar-icon">
                    <a href="https://dribbble.com/{{site.dribbble_username}}" target="_blank" >
                        <svg height="20" width="20">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Footer-2" transform="translate(-1033.000000, -38.000000)">
                                    <g id="Footer">
                                        <g id="Twitter" transform="translate(1027.000000, 32.000000)">
                                            <rect id="Rectangle" x="0" y="0" width="32" height="32"></rect>
                                            <path class="active"
                                                  d="M16,6 C10.4771484,6 6,10.4771484 6,16 C6,21.5228516 10.4771484,26 16,26 C21.5228516,26 26,21.5228516 26,16 C26,10.4771484 21.5228516,6 16,6 Z M16,7.99953125 C17.8578906,7.99953125 19.5473437,8.65992188 20.9047656,9.72316406 C20.2736719,10.2676172 18.9174609,11.3003125 16.8446875,12.2793359 C16.0805469,10.9304688 15.1808594,9.56328125 14.1054297,8.24980469 C14.7158203,8.10082031 15.3444922,7.99953125 16,7.99953125 Z M12.5991406,8.78441406 C13.2046094,9.60714844 14.2007031,11.0646875 15.2517187,12.9250391 C13.0068359,13.6611328 10.4128516,13.6855469 8.40601562,13.5244141 C9.09570312,11.4296875 10.6240234,9.71828125 12.5991406,8.78441406 Z M15.8925781,14.0969141 C16.1733594,14.6340234 16.4503906,15.2126172 16.7238281,15.7998047 C12.5319531,16.7189844 10.5690625,19.4704688 9.78417969,20.9792578 C8.68433594,19.6096484 7.99949219,17.8933203 7.99949219,16 C7.99949219,15.6460156 8.03121094,15.3005469 8.07640625,14.9599609 C9.65355469,15.1784766 12.4453125,15.2639063 15.8925781,14.0969141 Z M17.4172266,17.4135938 C18.1655078,19.2421875 18.8223047,21.2233984 19.2055469,23.3217969 C18.2228906,23.7526953 17.1413281,24.0005078 16,24.0005078 C14.1017578,24.0005078 12.3818359,23.3108594 11.0097656,22.2073437 C12.9958594,19.4460547 15.2980859,18.0532031 17.4172266,17.4135938 Z M20.6374609,22.4978125 C20.5361328,21.9253125 20.0991406,19.7853906 19.0639844,17.0461719 C21.4870703,16.6872656 23.4096875,17.1609375 23.8808594,17.2976562 C23.5280859,19.4362891 22.3305469,21.286875 20.6374609,22.4978125 Z M18.4597266,15.5519922 C18.1691797,14.8769531 17.8566797,14.1872266 17.4917188,13.4767969 C18.9394531,12.8505859 20.4775781,11.9948438 22.0705859,10.8449609 C23.2571094,12.2402344 24.0005078,14.0248828 24.0005078,16 C21.8667188,15.5263672 20.0405469,15.4226172 18.4597266,15.5519922 Z"
                                                  id="Shape" fill="#8C8D9C"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li class="footer-topbar-icon">
                    <a href="https://github.com/{{site.github_username}}" target="_blank" >
                        <svg height="20" width="20">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Footer-2" transform="translate(-1089.000000, -38.000000)">
                                    <g id="Footer">
                                        <g id="Github" transform="translate(1083.000000, 32.000000)">
                                            <rect id="Rectangle" x="0" y="0" width="32" height="32"></rect>
                                            <path class="active"
                                                  d="M16,6 C10.4775391,6 6,10.5907307 6,16.2527988 C6,20.7834545 8.865,24.6257509 12.8389844,25.9811829 C13.3388672,26.0750601 13.5213672,25.7584048 13.5213672,25.4880673 C13.5213672,25.2440027 13.512207,24.4355134 13.5073242,23.5794448 C10.7265625,24.1989581 10.1387891,22.3704355 10.1387891,22.3704355 C9.68347656,21.1864576 9.02855469,20.8710639 9.02855469,20.8710639 C8.11974609,20.2352702 9.0975,20.2477858 9.0975,20.2477858 C10.1015234,20.3191148 10.6301172,21.3041044 10.6301172,21.3041044 C11.5224609,22.8710605 12.9714258,22.4179949 13.5402734,22.1551668 C13.6311719,21.4943419 13.8899609,21.0412763 14.1750391,20.7859576 C11.9551953,20.5268942 9.62,19.6470359 9.62,15.7183716 C9.62,14.5982133 10.0100195,13.6845928 10.6484375,12.9668168 C10.5465039,12.7064918 10.2022656,11.6633096 10.7473047,10.2521881 C10.7473047,10.2521881 11.5859375,9.97684438 13.4975391,11.3035005 C14.2946484,11.0750953 15.1497656,10.9624547 15.9999805,10.95869 C16.8495898,10.9624547 17.705293,11.0763369 18.5036523,11.304742 C20.4116211,9.97684438 21.2514648,10.2534296 21.2514648,10.2534296 C21.7983398,11.6658127 21.4541016,12.7077334 21.3515625,12.9668168 C21.9924219,13.6845928 22.3793945,14.5982333 22.3793945,15.7183716 C22.3793945,19.6570484 20.0405273,20.5243711 17.8127539,20.7784482 C18.1728711,21.0963451 18.4914648,21.7196231 18.4914648,22.6758168 C18.4914648,24.0462875 18.4780273,25.1514071 18.4780273,25.4893289 C18.4780273,25.7621695 18.6599023,26.0813079 19.1665039,25.9811829 C23.1374609,24.6232478 26,20.7809514 26,16.2527988 C26,10.5907307 21.5224609,6 16,6 Z"
                                                  id="Path" fill="#8C8D9C"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li class="footer-topbar-icon">
                    <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" >
                        <svg height="20" width="20" class="twitter-svg"    style="padding-top:6px">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Footer-2" transform="translate(-1145.000000, -40.000000)">
                                    <g id="Footer">
                                        <g id="Twitter" transform="translate(1139.000000, 32.000000)">
                                            <rect id="Rectangle" x="0" y="0" width="32" height="32"></rect>
                                            <path class="active"
                                                  d="M26,9.89399011 C25.2647626,10.2157166 24.4734994,10.4327322 23.6432617,10.5298496 C24.4909567,10.0302743 25.1409374,9.2389469 25.4474555,8.29494929 C24.6545683,8.75815557 23.7768305,9.09426987 22.8418489,9.27571564 C22.09362,8.49078283 21.0270994,8 19.8469034,8 C17.5811055,8 15.744027,9.80846281 15.744027,12.0393665 C15.744027,12.3554978 15.7801596,12.6636359 15.8503948,12.9597842 C12.4401275,12.7911275 9.4163571,11.1832942 7.39252583,8.73937153 C7.03931957,9.33566469 6.83713944,10.0294749 6.83713944,10.7704451 C6.83713944,12.1716541 7.56141526,13.408203 8.66244443,14.1323875 C7.99013458,14.1112055 7.3572052,13.92936 6.80384873,13.6268172 C6.80344275,13.6436029 6.80344275,13.6607883 6.80344275,13.6779737 C6.80344275,15.6347105 8.21789172,17.2669231 10.0951627,17.6386072 C9.75088809,17.7305291 9.38834419,17.7800869 9.01402675,17.7800869 C8.74932505,17.7800869 8.49233705,17.7549083 8.24184479,17.7073488 C8.76434647,19.3119848 10.2794795,20.4801918 12.0747417,20.5125643 C10.6704423,21.5960434 8.90156913,22.2418944 6.97882792,22.2418944 C6.64795079,22.2418944 6.32113351,22.2227107 6,22.1851426 C7.81637334,23.331768 9.97296145,24 12.2899133,24 C19.8375657,24 23.9643952,17.8452316 23.9643952,12.5073687 C23.9643952,12.3323175 23.9607413,12.157666 23.9530276,11.9842134 C24.7544405,11.4158965 25.4502974,10.7041015 26,9.89399011 Z"
                                                  id="Path" fill="#8C8D9C"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li class="footer-topbar-icon">
                    <a href="https://www.linkedin.com/company/{{site.linkedin_username}}/" target="_blank" >
                        <svg height="20" width="20">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Footer-2" transform="translate(-1201.000000, -38.000000)">
                                    <g id="Footer">
                                        <g id="Linkedin" transform="translate(1195.000000, 32.000000)">
                                            <rect id="Rectangle" x="0" y="0" width="32" height="32"></rect>
                                            <path class="active"
                                                  d="M10.341637,26 L6.07117438,26 L6.07117438,11.7142857 L10.341637,11.7142857 L10.341637,26 Z M26,26 L21.7295374,26 L21.7295374,18.3685714 C21.7295374,16.38 21.0234875,15.39 19.6241993,15.39 C18.5153025,15.39 17.8120996,15.9442857 17.4590747,17.0542857 C17.4590747,18.8571429 17.4590747,26 17.4590747,26 L13.1886121,26 C13.1886121,26 13.2455516,13.1428571 13.1886121,11.7142857 L16.5594306,11.7142857 L16.8199288,14.5714286 L16.9081851,14.5714286 C17.7836299,13.1428571 19.1829181,12.1742857 21.1017794,12.1742857 C22.5608541,12.1742857 23.7409253,12.5814286 24.6419929,13.6042857 C25.5487544,14.6285714 26,16.0028571 26,17.9328571 L26,26 Z M8.20640569,10.2857143 C6.98784148,10.2857143 6,9.32632446 6,8.14285714 C6,6.95938982 6.98784148,6 8.20640569,6 C9.42496991,6 10.4128114,6.95938982 10.4128114,8.14285714 C10.4128114,9.32632446 9.42496991,10.2857143 8.20640569,10.2857143 Z"
                                                  id="Combined-Shape" fill="#8C8D9C"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>