---
---

@import "./variables.scss";
@import "./includes/collectionFooter.scss";
* {
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 0px;
}


body {
  color: $primary-font-color !important;
  background-color: $site-bg-color !important;
  //font-family: 'Montserrat', sans-serif;
  font-family: "Source Sans Pro", sans-serif !important;
}

.navbar {
  //position: fixed;
  background-color: #2a2f34 !important;
  width: 100%;
  //z-index: 100;
}

.navbar-light .navbar-brand {
  color: #c0c0c0 !important;
  line-height: 1.14;
  padding: 0px env(safe-area-inset-right) 0px env(safe-area-inset-left) !important;
  -webkit-transition: all 0.2s;
  /* Safari */
  -webkit-transition-timing-function: ease;
  /* Safari */
  transition: all 0.2s;
  transition-timing-function: ease;
  font-size: 21px;
  font-weight: 700;
}

.navbar-light .navbar-brand:hover {
  width: 64px;
  //transform: scale(0.95, 0.95);
  color: #ffffff !important;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
}

.navbar-light .navbar-brand .emoji img {
  height: 80px;
  width: auto;
}

.navbar-light .navbar-brand .emoji:hover .image-on {
  display: none;
}

.navbar-light .navbar-brand .emoji:hover .image-off {
  display: block;
}

.navbar-light .navbar-brand .emoji .image-off {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff80 !important;
  padding-right: 2.5rem;
  font-weight: 600;
  text-rendering: optimizeSpeed;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s;
  /* Safari */
  -webkit-transition-timing-function: ease;
  /* Safari */
  transition: all 0.2s;
  transition-timing-function: ease;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  transform: scale(0.95, 0.95);
  transform-origin: 50% 80%;
  color: #ffffff !important;
}

@media only screen and (max-width: 768px) {
  .navbar-light {
    font-size: 17px;
  }
}


.navbar-link {
  color: #ffffff80 !important;
  margin-right: 12%;
  font-weight: 600;
}

.navbar-link.active {
  color: #fff !important;
}

.navbar-toggler {
  color: white !important;
  border-color: white !important;
  background-color: white !important;
}

.navbar-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

nav {
  padding-bottom: 0px;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

nav a {
  color: #ffffff80;
  margin-right: 12%;
  font-weight: 600;
}

nav a.active {
  color: #ffffff;
}

nav a:hover {
  color: #ffffff;
}

.header-bg {
  background-color: #2a2f34 !important;
}


.leftNavigation {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &:hover .backIconContainer .backIcon {
    color: #fff;
  }

  &:hover .stacked-text .header-title {
    color: #fff;
  }

  &:hover .stacked-text .text {
    color: #fff;
  }

  .backIconContainer {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background: #343434;
    position: relative;

    .backIcon {
      text-align: center;
      position: absolute;
      color: $text-color;
      top: 28%;
      left: 28%;
    }
  }

  .header-title {
    color: $text-color;
    font-size: 17px;
    letter-spacing: 2px;
    padding-top: 3px;
    font-weight: 600;
    @media screen and (max-width: $bkpt-lg) {
      font-size: 16px;
    }
  }

  .text {
    font-size: 12px;
    color: $text-color;
    word-spacing: 1px;
    text-transform: uppercase;
    @media screen and (max-width: $bkpt-sm) {
      font-size: 10px;
      word-spacing: 0;
    }
  }
}

.centerNavigation {
  .copyright {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .copyright-text {
      font-size: 18px;
      color: #ffffff80;
      padding-bottom: 2px;
    }

    .copyright-icon {
      font-size: 16px;
      padding: 4px;
      color: #ffffff80;
    }

    &:hover .copyright-text {
      color: #fff;
    }

    &:hover .copyright-icon {
      color: #fff;
    }
  }

}

.rightNavigation {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li {
      a {
        transition: all 0.5s ease-in-out;
      }

      .menu {
        color: $text-color;
        font-size: 20px;
        cursor: pointer;
      }

      .active {
        &:hover {
          fill: #fff;
          color: #fff;
        }
      }
    }

    .header-icon {
      padding: 0 16px;
      margin: 8px;
      @media screen and (max-width: $bkpt-sm) {
        padding: 0 8px;
        margin: 2px;
      }
    }

    .footer-topbar-icon {
      padding: 0 8px;
      margin: 4px;
    }
  }
}

.home-container {
  //padding: 126px 0 36px;
  padding: 3% 0px;
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
  @media screen and (max-width: $bkpt-lg) {
    max-width: unset;
  }
}

a {
  text-decoration: none !important;
  color: #fff !important;
  cursor: pointer;
}

.home-navigation-container {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #2a2f34;
}

.home-navigation {
  width: 84%;
  padding: 20px 8%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: $bkpt-sm) {
    width: calc(100% - 16px);
    padding: 16px 8px;
  }
  @media screen and (max-width: $bkpt-xl) {
    width: calc(100% - 20px);
    padding: 16px 20px;
  }

  a {
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: $text-color;
    cursor: pointer;
    @media screen and (max-width: $bkpt-sm) {
      font-size: 14px;
    }

    &:hover {
      color: #ffffff !important;
      text-decoration: none !important;
    }
  }

  .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: $bkpt-xl) {
      padding-left: 16px;
    }

    .albums {
      font-size: 17px;
      letter-spacing: 2px;
      padding-top: 3px;
      font-weight: 600;
    }

    img {
      width: 64px;
      @media screen and (max-width: $bkpt-sm) {
        width: 56px;
        margin-left: -8px;
      }
    }
  }

  .nav-right {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: $bkpt-lg) {
      padding-right: 0px;
    }

    a {
      margin-right: 40px;
      margin-left: 13px;
      @media screen and (max-width: $bkpt-lg) {
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 16px;
      }
    }

    .text {
      &:hover {
        color: #fff;
        transform: scale(0.95, 0.95);
        transform-origin: 50% 80%;
      }
    }

    .active {
      color: #fff;
    }
  }
}

.photogrid-wrap {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $bkpt-lg) {
    flex-direction: column;
  }

  .left-grid {
    width: 60%;
    @media screen and (max-width: $bkpt-lg) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 36px;
      text-align: center;
    }
  }

  .right-grid {
    margin-left: 32px;
    width: calc(40% - 32px);
    @media screen and (max-width: $bkpt-lg) {
      width: 100%;
      margin-left: 0;
      text-align: center;
    }

    a {
      color: #fff !important;
    }
  }

  ul {
    color: #fff;
    list-style: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
  }
}

.photo-content {
  border-radius: 0;
  position: relative;

  .image-container {
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    img {
      width: 100%;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      transform-origin: 40% 50%;
      transition: transform 7s, filter 4s ease-in-out;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  .photo-title {
    color: $primary-font-color;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(rgba(41, 47, 51, 0) 0%, rgba(41, 47, 51, 0.5) 33%, rgba(41, 47, 51, 0.77) 100%);
    padding: 42px 42px 16px;
    @media screen and (max-width: $bkpt-sm) {
      padding: 16px;
    }

    .place {
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
      @media screen and (max-width: $bkpt-sm) {
        padding-bottom: 8px;
        font-size: 32px;
      }
    }
  }
}

.list {
  padding: 28px;
  @media screen and (max-width: $bkpt-lg) {
    padding: 18px;
  }
}

.list-heading {
  p {
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    opacity: .8;
    padding: 24px 28px 20px;
    background-color: $list-bg-color;
    margin-bottom: 0px !important;
    @media screen and (max-width: $bkpt-lg) {
      padding: 14px;
    }
  }

  .divider {
    margin-left: 24px;
    width: 16%;
    border-radius: 0;
    height: 2px;
    background-color: #424649;
    @media screen and (max-width: $bkpt-lg) {
      margin-left: 8px;
      width: 16%;
    }
    @media screen and (max-width: $bkpt-sm) {
      margin-left: 8px;
      width: 32%;
    }
  }
}

.list-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  background-color: $list-bg-color;
  @media screen and (max-width: $bkpt-lg) {
    flex-direction: column;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  &:hover .travel-img img {
    transform: scale(1.1);
  }

  .travel-img {
    margin-right: 32px;
    @media screen and (max-width: $bkpt-lg) {
      margin-right: 0;
    }

    img {
      width: 210px;
      max-width: 240px;
      height: auto;
      transition: transform 1s, scale 2s ease-in-out;
    }
  }

  .travel-titles {
    padding-top: 16px;

    .title {
      font-size: 24px;
      font-weight: 500;
      line-height: 125%;
      margin-bottom: 8px;
      @media screen and (max-width: $bkpt-lg) {
        font-size: 18px;
      }
    }

    .sub-title {
      font-size: 18px;
      font-weight: 400;
      line-height: 125%;
      color: $text-color;
      //letter-spacing: 0.8px;
      @media screen and (max-width: $bkpt-lg) {
        font-size: 14px;
      }
    }
  }
}

.travel-card {
  margin-bottom: 36px;

  a {
    color: #fff !important;
    text-decoration: none !important;
  }

  .travel-img {
    cursor: pointer;
    width: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    min-height: 200px;

    &:hover img {
      transform: scale(1.2);
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
    }

    &:hover {
      .titles .title, .titles .big-title {
        transform: translateY(20px);
      }
    }

    &:hover .titles {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:hover .titles .sub-title, .titles .big-sub-title {
      opacity: 0;
      transform: translateY(20px);
    }

    .image {
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      overflow: hidden;
    }

    img {
      position: relative;
      width: 100%;
      height: auto;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      transition: transform 4s, scale 2s ease-in-out;
      -webkit-transition: transform 4s, scale 2s ease-in-out; /* Safari prior 6.1 */
      -moz-transition: transform 4s, scale 2s ease-in-out;
      transform-origin: 40% 50%;
      @media screen and (max-width: $bkpt-sm) {
        width: 90%;

        @media screen and (max-width: $bkpt-sm) {
          width: 90%;
        }
      }
    }

    .titles {
      color: $primary-font-color;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      -webkit-border-bottom-left-radius: 16px;
      -webkit-border-bottom-right-radius: 16px;
      padding: 48px 32px 24px 32px;
      background: linear-gradient(rgba(41, 47, 51, 0) 0%, rgba(41, 47, 51, 0.5) 33%, rgba(41, 47, 51, 0.57) 100%);
      -webkit-transition: hover 4s, scale 2s ease-in-out; /* Safari prior 6.1 */

      @media screen and (max-width: $bkpt-sm) {
        padding: 8px;
      }

      .title {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        line-height: 125%;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;

        @media screen and (max-width: $bkpt-sm) {
          font-size: 24px;
        }
      }

      .sub-title {
        font-size: 16px;
        color: $text-color;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        @media screen and (max-width: $bkpt-sm) {
          font-size: 12px;
          padding-bottom: 8px;
        }
      }

      .big-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 125%;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        @media screen and (max-width: $bkpt-sm) {
          font-size: 24px;
        }
      }

      .big-sub-title {
        font-size: 18px;
        color: $text-color;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        @media screen and (max-width: $bkpt-sm) {
          font-size: 14px;
          padding-bottom: 8px;
        }
      }
    }
  }
}