<html>
<head>
    <title>Sahil K</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--For social sharing-->
    <meta property="og:title" content="Sahil K | Product Designer">
    <meta property="og:description"
          content="Indo-Canadian Computer Science major currently leading a team of UI &amp; UX designers at Zencat Studios">
    <meta property="og:image" content="Work_files/Social_Banner.jpg">
    <meta property="og:url" content="http://www.thesahilk.com">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage"
          content="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-144.png.png">
    <!--Favicon-->
    <link rel="alternate" type="application/rss+xml" title="Sahil K | blog" href="http://www.thesahilk.com/rss">
    <link rel="shortcut icon" type="image/png" href="http://www.thesahilk.com/public/Favicon.png">
    <link rel="mask-icon" href="http://www.thesahilk.com/public/Favicon.svg" color="#0E83F3">
    <!--link(rel="icon" type="image/png" sizes="16x16" href="/public/apple-touch-icon.png")-->
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-32.png.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-96.png.png">
    <link rel="apple-touch-icon" sizes="57x57"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-57.png.png">
    <!--link(rel="apple-touch-icon" sizes="114x114" href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-57.png.png")-->
    <link rel="apple-touch-icon" sizes="72x72"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-72.png.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-144.png.png">
    <!--link(rel="apple-touch-icon" sizes="60x60" href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-57.png.png")-->
    <link rel="apple-touch-icon" sizes="120x120"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-120.png.png">
    <!--link(rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-57.png.png")-->
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/favicon/favicon-152.png.png">
    <!--Styling-->
    <link rel="stylesheet" href="website/bootstrap.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="website/style_v2.css">
    <script type="text/javascript" async=""></script>
    <script src="website/jquery-3.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <style>@media print {
        #ghostery-purple-box {
            display: none !important
        }
    }</style>
    <script src="website/popper.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="website/bootstrap.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{site.env.PHOTO_ROOT}}/stylesheets/home1.css"/>
<body>
<nav class="navbar navbar-expand-lg navbar-light header-bg">
    <div class="container">
        <a class="navbar-brand active" href="{{site.env.PHOTO_ROOT}}/">
            <div class="emoji">
                <img class="image-on" src="website/emoji12.png">
                <img class="image-off" src="website/emoji13.png">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- THIS IS THE NAVIGATION SYSTEM ON THE LEFT, NEXT TO BRAND-IMAGE-->
            </ul>
            <div class="my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <!-- THIS IS THE NAVIGATION SYSTEM ON THE RIGHT, NEXT TO BRAND-IMAGE-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.env.PHOTO_ROOT}}/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.env.PHOTO_ROOT}}/work">Work</a>
                    </li>
                    <!--li.nav-item//a(href='/blog', class= (navbar == 'blog' ? 'nav-link active' : 'nav-link' )) Blog-->
                    <li class="nav-item">
                        <a class="nav-link active" href="{{site.env.PHOTO_ROOT}}/photography">Photography</a>
                        <!----<a class="nav-link" href="http://instagram.com/thesahilk">Photography</a>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="home-container">
    {% assign photostories = site.collections | where: "label", "photostories" | first %}
    {% assign category_docs = photostories.docs | where: "category", "Africa" %}
    {% if category_docs.size > 0 %}
    <div class="photogrid-wrap">
        {% for category in site.data.collections["photostories"] %}
        {% assign stories = photostories.docs | where: "category", category.title %}
        {% if stories.size > 0 %}
        {% include bigStories.html category=category stories=stories %}
        {% endif %}
        {% endfor %}
        {% include smallStories.html %}
    </div>
    {% else %}
    <div class="photogrid-wrap">
        {% assign bigStoriesCount = site.photostories.size| divided_by: 2 %}
        <ul class="photo-grid left-grid">
            {% for story in site.photostories limit:bigStoriesCount %}
            <a href="{{site.env.PHOTO_ROOT}}{{story.url}}">
                <li class="travel-card">
                    <div class="travel-img">
                        <div class="image">
                            <img src="{{site.env.PHOTO_ROOT}}{{story.cover}}">
                        </div>
                        <div class="titles">
                            <div class="big-title">
                                {{ story.title }}
                            </div>
                            <div class="big-sub-title">
                                {{ story.subtitle }}
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            {% endfor %}
        </ul>
        <ul class="photo-grid right-grid">
            {% for story in site.photostories offset:bigStoriesCount %}
                <li class="travel-card">
                    <a href="{{site.env.PHOTO_ROOT}}{{story.url}}">
                    <div class="travel-img">
                        <div class="image">
                            <img src="{{site.env.PHOTO_ROOT}}{{story.cover}}">
                        </div>
                        <div class="titles">
                            <div class="title">
                                {{ story.title }}
                            </div>
                            <div class="sub-title">
                                {{ story.subtitle }}
                            </div>
                        </div>
                    </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% include footer.html %}
</body>
</html>