
:root {
    --navbar-brand: #c0c0c0;
    --hover-color: #0e83f3;
    --nav-link: #082035;
    --nav-link-active: #c0c0c0;
    --body-background: white;
    --post-container: #52a7f9;
    --currentcompany: #ffb900;
    --color: #65707b;
    --h1-h2-color: #212529;
    --bg-image-color1: #1268c3;
    --bg-image-color2: #d24074;
    --twitter: #4db8ec;
    --twitter-hover: #94d5f4;
    --email-hover: #75818d;
    --dribble: #ec4a89;
    --dribble-hover: #f180ac;
    --timeline: #b2b8bd;
    --blog-container-a: #212529;
    --blog-container-p: #65707b;
    --status: #ccc;
    --paging-a:#212529;
    --blockquote:#0f0;
    --navbar-toggler: rgba(0,0,0,.5);;
    --navbar-toggler-border:rgba(0,0,0,.1);
    --toi-color:#251E33;
    --subtitle:#65707b;
    --cars24-color:#00558F;

}

@media (prefers-color-scheme: dark) {
    :root {
        --navbar-brand: #c0c0c0;
        --hover-color: #ffffff;
        --nav-link: #ffffff80;
        --nav-link-active: #fff;
        --body-background: #2a2f34;
        --post-container: #52a7f9;
        --currentcompany: #ffb900;
        --color: #ffffff80;
        --h1-h2-color: #fff;
        --bg-image-color1: #1268c3;
        --bg-image-color2: #d24074;
        --twitter: #4db8ec;
        --twitter-hover: #94d5f4;
        --email-hover: #75818d;
        --dribble: #ec4a89;
        --dribble-hover: #f180ac;
        --timeline: #b2b8bd;
        --blog-container-a: #212529;
        --blog-container-p: #65707b;
        --status: #ccc;
        --paging-a:#212529;
        --blockquote:#0f0;
        --navbar-toggler:white;;
        --navbar-toggler-border:white;
        --toi-color:#fff;
        --subtitle:#fff;
        --cars24-color:#0E83F3;
    }
}





.navbar-light .navbar-brand {
    color: var(--navbar-brand);
    line-height: 1.14;
    padding: 0px env(safe-area-inset-right) 0px env(safe-area-inset-left) !important;
    -webkit-transition: all 0.2s;
    /* Safari */
    -webkit-transition-timing-function: ease;
    /* Safari */
    transition: all 0.2s;
    transition-timing-function: ease;
    font-size: 21px;
    font-weight: 700;
}

.navbar-light .navbar-brand:hover {
    width: 64px;
    /*transform: scale(0.95, 0.95);*/
    color:#0e83f3;
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
}
.navbar-light .navbar-brand .emoji img{
    height:80px;
    width: auto;
}
.navbar-light .navbar-brand .emoji:hover .image-on{
    display: none;
}
.navbar-light .navbar-brand .emoji:hover .image-off{
    display: block;
}
.navbar-light .navbar-brand .emoji .image-off{
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--nav-link);
    padding-right: 2.5rem;
    font-weight: 600;
    text-rendering: optimizeSpeed;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.2s;
    /* Safari */
    -webkit-transition-timing-function: ease;
    /* Safari */
    transition: all 0.2s;
    transition-timing-function: ease;
}

.navbar-light .navbar-nav .nav-link.active {
    color:var(--hover-color);
}

.navbar-light .navbar-nav .nav-link:hover {
    transform: scale(0.95, 0.95);
    transform-origin: 50% 80%;
    color: var(--hover-color);
}

@media only screen and (max-width: 768px) {
    .navbar-light {
        font-size: 17px;
    }
}


.navbar-link {
    color:var( --nav-link);
    margin-right: 12%;
    font-weight: 600;
}

.navbar-link.active {
    color:var(--hover-color);
}
.navbar-toggler{
    color: var(--navbar-toggler)!important;
    border-color:var(--navbar-toggler-border)!important;
    background-color: white !important;
}

.navbar-link:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

nav {
    padding-bottom: 0px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

nav a {
    color: var(--nav-link);
    margin-right: 12%;
    font-weight: 600;
}

nav a.active {
    color:var(--hover-color);
}

nav a:hover {
    color:var(--hover-color);
}


html,
body {
    font-size: 16px;
    text-rendering: optimizeSpeed;
}

.font-title,
h1,
h2 {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 40px;
    text-rendering: optimizeSpeed;
}

.header-bg{
    background-color: var(--body-background) !important;
}
.bg-white {
    background-color: var(--body-background) !important;
}

a.link,
.post-container a {
    color: #0e83f3;
    font-weight: 600;
    text-rendering: optimizeSpeed;
    letter-spacing: 0.2px;
    border-bottom: 1px solid #0e83f3;
}
.toi{
    color:var(--toi-color) !important;
}
.email{
    color:var(--toi-color) !important;
}
.cars24{
    /*color:#00558F;*/
    color:var(--cars24-color)!important;
}
a.link:hover,
.post-container a:hover {
    color: var(--post-container);
    text-decoration: none;
    border-bottom: 1px solid var(--post-container);
}

a.currentcompany {
    color: #ffb900;
    font-weight: 600;
    border-bottom: 1px solid #ffb900;
}

a.currentcompany:hover {
    color: var(--currentcompany);
    text-decoration: none;
    border-bottom: 1px solid #ffdc7f;
}

body,
html {
    margin: 0px;
    background-color: var(--body-background);
    padding: 0px;
    line-height: 1.75;
    min-height: 100vh;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    text-rendering: optimizeSpeed;
    color: var(--color);
}

p {
    margin-bottom: 2%;
    text-rendering: optimizeSpeed;
}

h1,
h2 {
    color: var(--h1-h2-color);
    line-height: 1.25;
    margin-bottom: 2%;
}

.Hover .text-style-1 {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, var(--bg-image-color1), var(--bg-image-color2));
}


#website-container {
    /*padding-top: 80px;*/
}

.navbar {
    /*position: fixed;*/
    background-color: var(--body-background);
    width: 100%;
    /*z-index: 100;*/
}

#about-container {
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    #about-container {
        display: block;
    }
}

#about-container .about-photo {
    height: 100%;
    width: 50%;
    background: url("../public/pic.JPG");
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 50%;
}

@media screen and (max-width: 768px) {
    #about-container .about-photo {
        width: 100%;
        height: 60%;
    }
}

#about-container .about-description {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 680px;
}

@media screen and (max-width: 768px) {
    #about-container .about-description {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
#about-container .about-description div {
    flex: 1;
    margin-left: 8%;
    margin-right: 8%;
}

@media screen and (max-width: 568px) {
    #about-container .about-description {
        width: 92%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 4% !important;
        margin-right: 4% !important;
    }
}

@media screen and (max-width: 668px) {
    .about-description img {
        display: none;
    }
}

#about-container .about-description div h1 {
    font-family: "Source Sans Pro", serif;
}

#about-container .about-description div p.subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 1%;
    margin-bottom: 3%;
    color: var(--subtitle);
}

#about-container .about-description div p.social {
    margin-bottom: 0px;
    letter-spacing: 6px;
    padding-top: 8px;
    display: inline-flex;
    -webkit-transition: all 0.2s;
    /* Safari */
    -webkit-transition-timing-function: ease;
    /* Safari */
    transition: all 0.2s;
    transition-timing-function: ease;
}

#about-container .about-description div p.social a.twitter {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--twitter);
    padding-right: 12px;
}

#about-container .about-description div p.social a.twitter:hover {
    transform: scale(0.95, 0.95);
    transform-origin: 50% 80%;
    text-decoration: none;
    color: var(--twitter-hover);
}

#about-container .about-description div p.social a.email {
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0px 12px 0 8px;
    color: var(--nav-link);
}

#about-container .about-description div p.social a.email:hover {
    color: var(--email-hover);
    transform: scale(0.95, 0.95);
    transform-origin: 50% 80%;
    text-decoration: none;
}

#about-container .about-description div p.social a.dribbble {
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0px 0px 0px 8px;
    color: var(--dribble);
}

#about-container .about-description div p.social a.dribbble:hover {
    color: var(--dribble-hover);
    text-decoration: none;
    transform: scale(0.95, 0.95);
    transform-origin: 50% 80%;
}

#projects-container {
    display: flex;
    margin: 3% 12px;
    align-items: center;
    justify-content: center;
}

#projects-container div.project-container {
    width: 1136px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #projects-container div.project-container {
        height: auto;
        padding-bottom: 30px;
    }
}

#projects-container div.project-container .company-container {
    margin-bottom: 28px;
    display: flex;
}

#projects-container div.project-container .timeline {
    color: var(--timeline);
    justify-content: flex-start;
    font-weight: 600;
}

#projects-container div.project-container .center-margin {
    width: 24px;
}

@media screen and (max-width: 768px) {
    #projects-container div.project-container .center-margin {
        width: 24px;
    }
}

@media screen and (max-width: 576px) {
    #projects-container div.project-container .center-margin {
        width: 16px;
    }
}

#projects-container div.project-container .workinfo {
    flex: 1;
}

#projects-container div.project-container .work-item {
    display: flex;
    margin-bottom: 6%;
}

@media screen and (max-width: 840px) {
    #projects-container div.project-container .work-item {
        flex-direction: column;
    }
}

#projects-container div.project-container .work-content {
    margin-top: 2%;
    flex: 1;
}

@media screen and (max-width: 768px) {
    #projects-container div.project-container .work-content {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    #projects-container div.project-container .work-content {
        flex: 60;
    }
}

#projects-container div.project-container .work-center {
    width: 40px;
}

@media screen and (max-width: 768px) {
    #projects-container div.project-container .work-center {
        width: 16px;
    }
}

@media screen and (max-width: 576px) {
    #projects-container div.project-container .work-center {
        width: 16px;
    }
}

#projects-container div.project-container .work-image {
    height: 100%;
    float: left;
}

@media screen and (max-width: 1200px) {
    #projects-container div.project-container .work-image {
        flex: 50;
    }
}

@media screen and (max-width: 840px) {
    #projects-container div.project-container .work-image {
        float: none;
        width: 100%;
    }
}

#projects-container div.project-container .work-image img {
    max-width: 560px;
}

@media screen and (max-width: 840px) {
    #projects-container div.project-container .work-image img {
        height: auto;
        width: 100%;
    }
}

#projects-container div.project-container div.project-card {
    color: var(--body-background);
    height: 70%;
    max-width: 100%;
    position: relative;
    width: 1200px;
}

@media screen and (max-width: 1200px) {
    #projects-container div.project-container div.project-card {
        width: 800px;
    }
}

@media screen and (max-width: 992px) {
    #projects-container div.project-container div.project-card {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    #projects-container div.project-container div.project-card {
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    #projects-container div.project-container div.project-card {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

#projects-container div.project-container div.project-card div.image-container {
    height: 100%;
    float: left;
}

@media screen and (max-width: 768px) {
    #projects-container
    div.project-container
    div.project-card
    div.image-container {
        float: none;
        width: 100%;
    }
}

#projects-container
div.project-container
div.project-card
div.image-container
img {
    height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    #projects-container
    div.project-container
    div.project-card
    div.image-container
    img {
        height: auto;
        width: 100%;
    }
}

#projects-container
div.project-container
div.project-card
div.description-container {
    position: absolute;
    left: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    #projects-container
    div.project-container
    div.project-card
    div.description-container {
        left: 0;
        height: auto;
        position: static;
    }
}

#projects-container
div.project-container
div.project-card
div.description-container
a {
    color: var(--body-background);
    text-decoration: none;
}

#projects-container
div.project-container
div.project-card
div.description-container
> * {
    background: rgba(36, 35, 40, 0.5);
    padding: 15px;
    margin-bottom: 0px;
    transition: 0.3s all;
}

#projects-container
div.project-container
div.project-card
div.description-container
> *:hover {
    background: rgba(36, 35, 40, 0.7);
}

#projects-container
div.project-container
div.project-card
div.description-container
h1 {
    font-family: "Source Sans Pro";
}

#blog-container {
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#blog-container a {
    color: var(--blog-container-a);
}

#blog-container a:hover {
    text-decoration: none;
}

#blog-container a p {
    color: var(--blog-container-p);
}

#blog-container .blog-post-container {
    padding: 24px;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.2s;
    /* Safari */
    -webkit-transition-timing-function: ease;
    /* Safari */
    transition: all 0.2s;
    transition-timing-function: ease;
    transition: 0.3s all;
}

#blog-container .blog-post-container:hover {
    box-shadow: 0px 0px 15px var(--status);
    transform: scale(0.95, 0.95);
}

#blog-container p.publish-date {
    margin-bottom: 4px;
    color: var(--status) !important;
}

#blog-container p.tags span {
    margin-right: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.post-container p.tags span {
    margin-right: 10px;
}

.post-container > h1,
.post-container > h2,
.post-container > h3,
.post-container > h4,
.post-container > h5,
.post-container > h6,
.post-container > p,
.post-container > blockquote {
    width: 800px;
}

@media screen and (max-width: 992px) {
    .post-container > h1,
    .post-container > h2,
    .post-container > h3,
    .post-container > h4,
    .post-container > h5,
    .post-container > h6,
    .post-container > p,
    .post-container > blockquote {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .post-container > h1,
    .post-container > h2,
    .post-container > h3,
    .post-container > h4,
    .post-container > h5,
    .post-container > h6,
    .post-container > p,
    .post-container > blockquote {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.post-container p {
    font-size: 1.2em;
}

.post-container img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-container blockquote {
    padding: 20px;
    padding-left: 10px;
    border-left: 10px solid var(--blockquote);
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-container blockquote p {
    margin-bottom: 0px;
}

.post-container strong {
    font-weight: 500;
}

div.paging {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

div.paging > * {
    text-align: center;
}

div.paging > *:first-child {
    justify-content: right;
    align-items: center;
    text-align: right;
}

div.paging > *:last-child {
    justify-content: left;
    align-items: center;
    text-align: left;
}

div.paging div.status {
    color: var(--status);
}

div.paging a {
    color: var(--paging-a);
}

div.paging a.disabled {
    color: var(--status) !important;
}

#photography-container,
#calligraphy-container {
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
}

@media screen and (min-width: 576px) {
    #photography-container,
    #calligraphy-container {
        column-count: 2;
    }
}

@media screen and (min-width: 768px) {
    #photography-container,
    #calligraphy-container {
        column-count: 3;
    }
}

@media screen and (min-width: 992px) {
    #photography-container,
    #calligraphy-container {
        column-count: 4;
    }
}

@media screen and (min-width: 1200px) {
    #photography-container,
    #calligraphy-container {
        column-count: 5;
    }
}

#photography-container img,
#calligraphy-container img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin: 1px;
}

/*# sourceMappingURL=style_v2.css.map */


.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.8;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    display: block;
    width: 100%;
    max-width: 920px;
    max-height: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: 8px auto;
    display: block;
    width: 80%;
    font-size: 24px;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 4px 0;
}

@media screen and (max-width: 568px) {
    #caption {
        font-size: 16px;
    }
}


/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 16px;
    right: 24px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

@media screen and (max-width: 568px) {
    .close {
        top: 64px;
        right: 16px;
    }
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}